@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student @ViewData["Student"]</p>

<address>
    <strong>Made By: </strong> <a href="https://empreendacomigo.com.br">Empreendacomigo.com.br</a>
</address>